<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qrcam.app">

    <!-- Needed to appear as a camera option -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="QR Camera"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">

            <!-- Makes this show up as a camera app for the power-button shortcut -->
            <intent-filter android:priority="100">
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Also handle the secure lockscreen camera shortcut -->
            <intent-filter android:priority="100">
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Standard launcher icon (optional, lets you open it manually too) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>
